:root {
    --section-border-radius: 10px;
    --section-border-half-radius: 10px 10px 0 0;
    --button-border-radius: 20px;

    --section-margin-bottom: 40px;
    --content-margin-bottom: 40px;
    --content-margin-bottom-small: 5px;

    --section-padding: 20px;

    --box-shadow-image: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --box-shadow-main-section:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --box-shadow-button: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}