.back-to-top-section {
    /* position: absolute; */
    bottom: 10%;
    right: 5%;
    z-index: 12;
    position: fixed;
    
    /* border-radius: 100%; */

}

.back-to-top-section button {
    /* display: flex; */
    /* flex-flow: column wrap; */
    color: var(--light-gray6);
    font-weight: 700;
    /* border: 1px solid var(--light-grey3); */
    border-radius: 100%;
    width: 75px;
    height: 75px;
    padding: 20px;
    /* background: var(--light-mood-green) !important; */
    /* background: black!important; */

}

#back-to-top-button {
}

.main-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    margin: 0 0px 0px 0px;
    /* padding: var(--section-padding) var(--section-padding-large); */
    background: white;
    max-width: 100%;
    width: 100%;
    border-radius: var(--section-border-radius);
    /* border: 3px solid var(--green-blue); */
}

@media screen and (max-width: 1280px) {
    .main-content {
        border-radius: 0;
    }
}

section {
    /* border-bottom: 3px solid var(--light-grey2); */
    /* padding: 20px 0; */

}

section .element-title,
section > p {
    padding: 0 var(--content-margin-left-large) 20px;
}

.row {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    flex-flow: column wrap;
    margin: 0 0px 40px 0;
}

.software-list-container {
    margin-left: var(--content-margin-left-large);
}


#cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: var(--content-margin-left-large);

}

.cards-container {
    margin-left: var(--content-margin-left-large);

}

.element-list {
    margin-bottom: var(--content-margin-bottom);
    margin-left: var(--content-margin-left-large);

}

.element-list li {
    padding-bottom: 20px;
    
}

.section-div {
    /* padding-left: 20px; */
    width: 100%;
    margin-bottom: var(--content-margin-bottom);

}

#colors-container {
    
}

section div p {
    /* margin-left: 30px; */
}

.sub-info {
    color: var(--green-blue);
}

.software-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    list-style:  none;
    font-size: 12px;
}

.software-list li {
    padding-right: 10px;
}