:root {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-background);
    --font-36: 36px;
    --font-26: 26px;
    --font-24: 24px;
    --font-22: 22px;
    --font-18: 18px;
    --font-14: 14px;
    --font-12: 12px;
}