#forms-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

form {
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    border-radius: 15px;
    box-shadow: var(--box-shadow-main-section);
    height: fit-content;
    max-width: 400px;
    min-width: 300px;
    background: white;
    margin: 20px;
}

form h3 {
    text-align: center;
    margin: 20px auto;
}

form label {
    font-weight: 550;
    padding: 10px 0 0 10px;
    margin: 5px;
    font-size: var(--font-14);

}

form input {
    border-radius: 7px;
    padding: 10px 20px;
    margin: 5px;
    background: var(--light-gray1);
    border: 1px solid var(--aqua-blue);
    /* box-sizing: border-box; */
    color: var(--dark-background);

}

form input[type=checkbox] {
    background: var(--light-gray1);
}

form input:focus {
    border: 3px solid var(--aqua-blue);
    background: var(--light-grey-background2);
    color: var(--dark-background);
    font-size: var(--font-14);
}

textarea {
    background: var(--light-gray1);
    border-radius: 10px;
    border: 1px solid var(--aqua-blue);
    padding: 10px 10px;
}

textarea:focus {
    background: var(--light-grey-background2);
    border: 3px solid var(--aqua-blue);
}

form button, 
form .btn {
    margin: 20px 0;
    color: black;
    font-size: var(--font-16);
    font-weight: 700;
    letter-spacing: 2px;
}

form span {
    align-self: center;
}

form span a {
    color: var(--grass-green);
}

/* Registration form  */
.registration-form {
    
}

.registration-form label,
.registration-form input {

}

#update-profile-form {
    width: 900px;
}