.home-title {
    color: var(--fusia);
    font-size: 36px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    color: var(--light-grey6);
    margin-bottom: 30px
}

h2 {
    font-size: 24px;
    color: var(--grass-green);
    margin-bottom: 15px;
}

.section-title {
    display: block;
    text-align: left;
    margin-bottom: var(--content-margin-bottom);
    /* border-left: 8px solid var(--sky-blue2); */
    line-height: 40px;
    padding: 20px 0px 20px 40px;
    color: var(--sky-blue2);
    background: var(--light-grey3);
    width: 100%;
    /* border-radius: 10px; */
    /* border-bottom: 1px solid var(--sky-blue); */
}

#introduction .section-title {
    border-radius: var(--section-border-radius) var(--section-border-radius) 0 0;
}

h3 {
    font-size: 22px;
    color: var(--dark-aqua-blue);
    margin-bottom: 15px;

}

.element-title {
    color: var(--light-grey5);
    text-align: center;
    padding: 20px 100px 20px 40px;
    margin-bottom: var(--content-margin-bottom);
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(30deg, var(--blue), #3afa00, var(--green-blue)) ;
    background-repeat: no-repeat;
    background-size: 90% 3px;
    background-position: bottom;
}
 
.card-type-title {
    margin-left: var(--content-margin-left-large);

}

.alternate-title {
    margin-left: var(--content-margin-left-large);
}

.image-type-title {
    margin-left: var(--content-margin-left-large);
    margin-bottom: var(--content-margin-bottom);
}

h4 {
    font-size: 18px;
    color: var(--green-blue);
    margin-bottom: 10px;


}

h5 {
    font-size: 16px;
    color: var(--aqua-blue);
    margin-bottom: 10px;

}

h6 {
    font-size: 14px;
    color: var(--light-grey5);
    margin-bottom: 10px;

}


.hero-title-h1,
.hero-title-h2,
.hero-title-h3,
.hero-title-h4,
.hero-title-p {
    color: var(--white);
}

