.nav-container.desktop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    max-width: 100%;
    height: 80px;
    padding: 0 40px;
    margin-bottom: var(--section-margin-bottom);
    top: 0;
    z-index: 2;
    position: sticky;
    
}

.nav-container.mobile {
    display: none;
}


@media screen and (max-width: 1280px) {
    .nav-container.desktop {
        display: none;
    }

    .nav-container.mobile {
        display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    min-width: 100%;
    height: 80px;
    padding: 0 40px;
    margin-bottom: var(--section-margin-bottom);
    top: 0;
    z-index: 2;
    position: sticky;
    }

    .nav-container.mobile .logo-container {

    }

    .burger1 {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
      }
      
      .burger1 input {
        display: none;
      }
      
      .burger1 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      
      .burger1 span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger1 span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger1 span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
      
      /* .burger1 input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .burger1 input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .burger1 input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      } */

    .burger2 {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
      }
      
      .burger2 input {
        display: none;
      }
      
      .burger2 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      .burger2 span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }
      
      .burger2 span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }
      
      .burger2 span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }
      
      /* .burger2 input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }
      
      .burger2 input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }
      
      .burger2 input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      } */

    /* The Overlay (background) */
    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    
    /* Position the content inside the overlay */
    .overlay-content {
        position: relative;
        top: 10%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    
    /* The navigation links inside the overlay */
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
    }
    
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    /* Position the close button (top right corner) */
    .overlay .closebtn {
        position: absolute;
        /* top: 20px; */
        left: 40px;
        font-size: 60px;
    }
    
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
    }

    /* The Overlay2 (background) */
    .overlay2 {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */   
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        right: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    
    /* Position the content inside the overlay */
    .overlay-content2 {
        position: relative;
        top: 10%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }
    
    /* The navigation links inside the overlay */
    .overlay2 a {
        /* padding: 8px; */
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
        margin-bottom: var(--content-margin-bottom-medium);
    }
    
    /* When you mouse over the navigation links, change their color */
    .overlay2 a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    /* Position the close button (top right corner) */
    .overlay2 .closebtn2 {
        position: absolute;
        top: 5px;
        right: 45px;
        font-size: 60px;
    }
    
    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
        .overlay2 a {font-size: 20px}
        .overlay2 .closebtn2 {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
    }

 
}

.logo-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 80px;
  margin: auto 0;
  gap: 30px;

}

.logo {
  box-shadow: none;
  height: 70px;
  width: 70px;
  margin-bottom: 0;
}

/* Home-title class is in Headings.css  */

.main-menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.main-menu-li {
    margin-right: 20px;
    
}

.main-menu li:last-child() {
    margin-left: 0;
}


.main-menu-li a {
    text-decoration: none;
    color: var(--grass-green);
    font-size: 18px;
    font-weight: 650;
}

.main-menu-li a.active-button {
    background: var(--green-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

