.sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    background: white;
    height: auto;
    max-width: 350px;
    width: 275px;
    margin: 0 40px 40px;
    /* padding: 40px 20px 40px 20px; */
    border-radius: var(--section-border-radius);
}



.sidebar-subtitle {
    background: var(--green-blue);
    padding: 40px 40px;
    border-radius: var(--section-border-half-radius);

    margin-bottom: var(--content-margin-bottom);
}

.sidebar-menu {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    align-self: center;
    align-items: flex-start;
    font-size: 22px;
    margin-bottom: var(--content-margin-bottom);
}

.sidebar-li {
line-height: 30px;
padding-bottom: 20px;
}

.sidebar-li>a {
    color: black;
    margin-bottom: var(--content-margin-bottom);
    font-weight: bold;
    padding-bottom: 20px;
}

.sidebar-sublist-li {
    text-indent: 10px;
}
.sidebar-sublist-li a {
    color: rgb(29, 28, 28);
}