#table-section {
    margin-bottom: var(--content-margin-bottom);
}

#tables-container {
    display: flex;
    flex-flow: column wrap;
    padding: 0 var(--content-margin-bottom);

}

table {
    border-collapse: collapse;
    width: 100%;
    /* margin: 20px; */
    box-shadow: var(--box-shadow-main-section);
    border-radius: 10px;
}

thead {
    background: var(--aqua-blue);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: var(--font-14);
}

th {
    padding-top: 20px;
    background: var(--light-grey1);
}

tr:nth-child(even) {
    background: var(--aqua-blue);
}

tr:nth-child(odd) {
    background: var(--white);
}

table a {
    color: var(--dark-background);
    font-size: var(--font-14);
    padding: 5px;
    border-radius: 4px;
}

table a:hover {
    background: var(--light-mood-green);
}

table .light-mood-blue-btn,
table .danger-btn {
    padding: 7px 10px;
    color: black;
    font-weight: 600;
    background-color: var(--light-grey-background);
    cursor: pointer;
    border-radius: 7px;
}

table .light-mood-blue-btn {
    border: 1px solid var(--light-blue);
}

table .light-mood-blue-btn:hover {
    background: var(--light-mood-blue);
}

table .danger-btn:hover {
    background: var(--danger-red);
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 981px)  {

	#tables-container {
		display: flex;
		flex-flow: column wrap;
		padding: 0;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Email"; }
	td:nth-of-type(4):before { content: "Phone"; }
	td:nth-of-type(5):before { content: "Website"; }
	td:nth-of-type(6):before { content: "Edit"; }
	td:nth-of-type(7):before { content: "Delete"; }

	table .light-mood-blue-btn,
	table .danger-btn {
	width: fit-content;
}

}