@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: var(--dark-background);
    --font-36: 36px;
    --font-26: 26px;
    --font-24: 24px;
    --font-22: 22px;
    --font-18: 18px;
    --font-14: 14px;
    --font-12: 12px;
    --font-10: 10px;
}

#fonts-container {
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    margin-bottom: var(--content-margin-bottom);
}

.font-size-container {
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    align-content: center;
    justify-content: center;
}
