#cards-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: var(--content-margin-bottom);
    gap: 30px;

}

.card {
    display: flex;
    background: var(--light-gray1);
    padding: 0;
    margin: 0;
    border-radius: 10px;
    box-shadow: var(--box-shadow-main-section);
    text-align: left;
    padding-left: 0;
    /* border: 1px solid red; */

}

.card:hover {
    background: var(--light-grey1);
}

.card.profile {
    margin-bottom: 40px;
}
.card.vertical {
    flex-flow: column wrap;
    width: 300px;
    height: auto;
}

.card.vertical .card-title {
    font-size: var(--font-22);

}

.card.vertical .card-category {
    align-self: center;
}

.card.vertical .card-subtitle {
    align-self: center;
}
.card.vertical .card-text {
    font-size: var(--font-12);
    line-height: 18px;
}

.card.vertical button {
    padding:10px 20px;
    align-self: center;
    border-radius: 10px;  
    width: 100%;  
}

.card.vertical button a {
    font-size: var(--font-14);

}

/* TODO: Adjust image spacing on the horizontal card. Take away align-self from card-featured-img */

.card.horizontal {
    flex-flow: row nowrap;
    width: 650px;
    height: 275px;
    margin-bottom: var(--content-margin-bottom);
    text-align: left;
}

.card.horizontal .card-title {
    font-size: var(--font-22);
}

.card.horizontal .card-subtitle {
    text-align: left;
    font-size: var(--font-16);
}
.card.horizontal .card-text {
    text-align: left;
}

.card.horizontal button {
    padding: 7px 15px;
    margin-top: 20px;
}

.card.horizontal button a {
    font-size: var(--font-12);

}


/* .card.horizontal > .card-title { */
    /* align-self: left; */
    /* text-align: left;
} */

.card-featured-img {
    align-self: center;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    margin: 0 0 20px 0;
    padding: 0;
    object-fit: cover;
    object-position: center 25%;

}
.card-featured-img.horizontal {
    align-self: left;
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    box-shadow: none;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.card.vertical .card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 10px 25px 30px;
    text-align: center;
}
.card.horizontal .card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 30px 25px 20px;
    text-align: center;
}

.card-content .horizontal {
    align-items: flex-start;
    /* padding-left: 30px; */
    text-align: left;
}

.card-category {
    font-size: 11px;
    text-align: center;
}

.card.horizontal .card-category {
    text-align: left;
}

.card-title {
    color: black;
    font-size: var(--font-16);
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 10px;
    /* align-self: center; */
    text-align: center;
}

.card.horizontal .card-title {
    text-align: left;
}

.card-subtitle {
    color: rgb(19, 3, 3);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    line-height: 20px;
}

.horizontal.card-subtitle  {
    align-self: left;
}



.card-text {
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
    color: black;
    font-weight: 500;
}

.card-text a {
    color: var(--sky-blue);
}

address {
    text-align: left;
    line-height: 25px;
    font-style: normal;
    margin-bottom: 15px;
}

.bio-link {
    align-self: center;
}

.card-text.horizontal {
    text-align: left;
}

