footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    /* border-radius: var(--section-border-radius); */
    background: white;
    margin: 0 0px;
    height: auto;
    padding: 40px;
}

.footer-menu {
    display: flex;
    text-decoration: none;
    gap: 40px;
}

.footer-menu li a {
    font-weight: bold;
    color: var(--dark-aqua-blue);
}