.sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    /* text-align: center; */
    background: white;
    height: 100%;
    /* height: fit-content; */
    /* max-width: 350px; */
    width: 250px;
    /* margin: 0 40px 40px; */
    /* padding: 40px 20px 40px 20px; */
    /* border-radius: var(--section-border-radius); */
    border-right: 2px solid var(--green-blue);
}



.sidebar-subtitle {
    background: var(--green-blue);
    padding: 40px 20px;
    /* border-radius: var(--section-border-half-radius); */
    margin-bottom: var(--content-margin-bottom-medium);
    color: var(--light-grey6);
}

.sidebar-menu {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    align-self: center;
    align-items: flex-start;
    font-size: var(--font-18);
    margin-bottom: var(--content-margin-bottom);
    margin-left: 80px;
    width: 100%;
    /* text-indent: 20px; */
    
}

.sidebar-li {
    line-height: 30px;
    /* padding: 10px; */
    width: 250px;
    /* margin: 20px auto; */
    /* text-indent: 40px; */
}

.sidebar-li > a {
    color: black;
    margin-bottom: var(--content-margin-bottom);
    font-weight: bold;
    width: 250px;
}

.sidebar-li>a:hover {
    background: var(--green-blue);
    width: 100%;
}

.sidebar-sublist-li {
    text-indent: 10px;
}

.sidebar-sublist-li a {
    color: rgb(29, 28, 28);
    padding: 10px 10px;
}

.sidebar-sublist-li a:hover {
    background: var(--green-blue);
}